.navbar {
    margin: 0;
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #1C1C1E;
    box-shadow: 0px 2px 4px 0px rgba(244, 244, 244, 0.20);
    height: 15vh;
    z-index: 10;
}

.navbar .left{
    margin: 0;
    display: flex;
    align-items: center;
    height: 10vh;
}

.navbar .left hr{
    height: 9vh;
    background: #00bfed;
    color: #00bfed;
    border: #00bfed;
    border-radius: 90px;
    width: 2px;
}

.navbar .left p{
    color: #cccccc;
    font-size: 7.2vh;
    line-height: 6.1vh;
    margin: 0vh 0vh 0.5vh 1.25vh;
    font-weight: 100;
}

.navbar .left .logo{
    height: 9vh;
    padding: 1vh 0vh 1vh 8vh;
}

.navbar .lumosAcademy {
    background-color: transparent;
    border: solid 2.3px #965EFF;
    border-radius: 13px;
    color: #965EFF;
    font-size: 16px;
    font-weight: 500;
    padding: 2vh 6vh 2vh 6vh;
    margin-right: 9.5vh;
    transition: all 0.5s;
}

.navbar .lumosAcademy:hover {
    background-color:#965EFF;
    cursor: pointer;
    color: #1C1C1E;
    font-weight: 500;
    box-shadow: 0 0 1em .25em #965EFF, 0 0 4em 1em #965effac, inset 0 0 1em .25em #965EFF;
    transition: all 0.3s;
}

.navbar .lumosAcademy:active{
    background-color: #1C1C1E;
    color: #965EFF;
    box-shadow: 0 0 1em .5em #965EFF, 0 0 4em 1em #965effac, inset 0 0 1em .25em #965EFF;
    transition: all 0.1s
}

@media (max-width:600px){
    .navbar .left .logo{
        height: 5vh;
        padding: 1vh 0vh 1vh 3vh;
    }

    .navbar .left hr{
        height: 5vh;
    }

    .navbar .left p{
        font-size: 5vh;
    }

    .navbar .lumosAcademy {
        background-color: transparent;
        border: solid 2.3px #965EFF;
        border-radius: 13px;
        color: #965EFF;
        font-size: 16px;
        font-weight: 500;
        padding: 1.5vh 2vh 1.5vh 2vh;
        margin-right: 3vh;
        transition: all 0.5s;
    }
}

@media (max-width:375px){
    .navbar .left .logo{
        height: 5vh;
        padding: 1vh 0vh 1vh 1vh;
    }

    .navbar .lumosAcademy {
        background-color: transparent;
        border: solid 2.3px #965EFF;
        border-radius: 13px;
        color: #965EFF;
        font-size: 14px;
        font-weight: 500;
        padding: 1vh 1vh 1vh 1vh;
        margin-right: 1vh;
        transition: all 0.5s;
    }
}