.App {
  text-align: center;
}

.App .content{
  background-color: #151515;
  padding-top: 15vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .content .textBox{
  border-radius: 25px;
  border: none;
  background: #1C1C1E;
  box-shadow: 4px 4px 5px 5px rgba(244, 244, 244, 0.10), -4px -4px 5px 5px rgba(244, 244, 244, 0.10);
  min-height: 60vh;
  max-height: 60vh;
  min-width: 90%;
  max-width: 90%;
  margin-top: 6vh;
}

.App .content .playButton{
  background: #965EFF;
  border-radius: 90px;
  margin-top: 3vh;
  transition: all 0.3s
}

.App .content .playButton:hover{
  box-shadow: 0.2vh 0.2vh 10px 7px #965eff64,-0.2vh -0.2vh 10px 7px #965eff64;
  transition: all 0.3s
}

.App .content .playButton .play{
  margin: 1.4vh 1vh 0.8vh 1.5vh;
  height: 4vh;
  fill: #965EFF;
}

.App .content .playButton:active{
  padding: 0.3vh;
  margin-top: 2.7vh;
  transition: 0.2s;
  background-color: #151515;
  box-shadow: 0.2vh 0.2vh 10px 7px #965eff64, -0.2vh -0.2vh 10px 7px #965eff64;
  transition:all 0.2s;
}

.App .content .playButton .play:active{
  fill: #965EFF;
  stroke: #965EFF;
  stroke-width: 3;
  transition:all 0.2s;
}