.App {
  text-align: center;
}

.App .content{
  background-color: #151515;
  padding-top: 15vh;
  min-height: 100vh;
}

.App .content .textBox{
  border-radius: 25px;
  border: none;
  background: #1C1C1E;
  box-shadow: 4px 4px 5px 5px rgba(244, 244, 244, 0.10), -4px -4px 5px 5px rgba(244, 244, 244, 0.10);
  min-height: 60vh;
  min-width: 90%;
  max-width: 90%;
  margin-top: 6vh;
}